.col-centered{
    float: none;
    margin: 0 auto;
}

.center-container {
  /*height: 100%;
  position: relative;*/
}

.center-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-border {
  border: 5px solid gray;
}

hr {  
  border: none;
  height: 1px;
  background-color: lightgray;
}

label, h2.blocks {
  font-weight:100;
}

h3 {
  font-weight:300;
}

input {
  font-weight:400;
}
/*h3, h2.blocks, .btn, label, input*/
* {
  font-family: "Roboto";
}



